.breadcrumb > li.breadcrumb-item + li.breadcrumb-item:before {
	content: "•" !important;
}
.logo{
	font-size: 2.1rem;
    line-height: 1;
	letter-spacing: 0em;
	font: Arial,Helvetica,sans-serif;
	font-stretch: extra-condensed;
}
.logo_part_demo{
	/*font-weight: 400;*/
}
.logo_fst{
	color: red;
}
.logo_part_market{
	font-weight: 200;
}
