.breadcrumb > li.breadcrumb-item + li.breadcrumb-item:before {
	content: "•" !important;
}
.cst-bage {
	border-color: transparent transparent red transparent;
	border-style: solid;
	border-width: 0 50px 50px 50px;
	height: 0px;
	width: 0px;
}
