<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="icon" href="{% static "icons/favicon.ico" %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/custom.css" %}" type="text/css" media="screen">
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row justify-content-between align-items-center">
    			<div class="col-12 col-md-4 m-1 text-center">
				    <div class="logo">
    					<span class="logo_part_demo"><span class="logo_fst">Д</span>емо</span></a>
	    				<span class="logo_part_market">Маркет</span></a>
	    			</div>
		    	</div>
		    	<div class="col-10 col-md-6 text-left">
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="Введите текст для поиска" aria-label="Найти" aria-describedby="button-addon2">
			    		<div class="input-group-append">
				    		<button class="btn btn-secondary" type="submit" id="button-addon2">Найти</button>
			    		</div>
			    	</div>
		    	</div>
                <div class="col-2 d-flex justify-content-end align-items-center">
                    <a class="btn btn-secondary" href="#">Войти</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2 border-bottom border-top border-gray">
            <nav class="nav d-flex justify-content-between">
                {% for category in categories %}
                    <a class="p-2 text-muted" href="#">{{ category|capfirst }}</a>
                {% endfor %}
            </nav>
        </div>

        {% block content %}
            There is no content here.
        {% endblock %}

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
