<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - DjangoМаркет</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="icon" href="{% static "catalog/icons/favicon.ico" %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "catalog/css/custom.css" %}" type="text/css">
</head>
<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row justify-content-between align-items-center">
    			<div class="col-12 col-md-3 m-1 text-center">
				    <div class="logo">
                        <span class="logo_part_demo"><b><span class="logo_fst">D</span>jango</b></span><span class="logo_part_market">Маркет</span>
	    			</div>
		    	</div>
		    	<div class="col-12 col-md-8 mt-1 text-center">
			    	<div class="input-group">
			    		<input type="text" class="form-control" placeholder="Введите текст для поиска" aria-label="Найти" aria-describedby="button-addon2">
			    		<div class="input-group-append">
				    		<button class="btn btn-secondary" type="submit" id="button-addon2">Найти</button>
			    		</div>
			    	</div>
		    	</div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-2 border-bottom border-top border-gray">
            <nav class="nav d-flex justify-content-between">
                {% for m_category in categories %}
                    <a class="p-2 text-muted {% if m_category == category %}border-bottom border-top border-gray{% endif %}" href="{{ m_category.get_absolute_url }}">{{ m_category|capfirst }}</a>
                {% endfor %}
            </nav>
        </div>

        {% block content %}
            There is no content here.
        {% endblock %}

    </div>
</body>
</html>
