{% extends 'base.html' %}

{% block content %}

    {% load humanize %}

    {% include 'catalog/includes/breadcrumb.html' %}

    <div>
        <h2 class="m-3">{{category|capfirst}}</h2>
    </div>

	{% if category.products.all|length %}

        {% for product in category.products.all %}

            <div class="p-3 bg-white border border-gray row">
                <div class="col-sm-12 col-md-3">
                    <a class="" href="{{ product.get_absolute_url }}"><img class="rounded float-left"
                                                                           alt="{{ product.title }}" src="{{ product.image }}"
                                                                           data-holder-rendered="true" width="200px" height="125px"></a>
                </div>
                <div class="col-sm-12 col-md-6 pt-2">
                    <div class="">
                        <a class="" href="{{ product.get_absolute_url }}"><h5>{{ product }}</h5></a>
                    </div>
                    <div class="">
                        <span class="badge badge-success">{{ product.rating|floatformat:1 }}</span><span
                            class="ml-2 text-muted">количество отзывов: {{ product.comments.all|length }}</span>
                    </div>
                    <div class="mt-2">

                        {% for charact in product.characteristics.all %}
                            <div class="">{{ charact.get_value }}</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 pt-2">
                    <div class="">
	    			    <h5>{{ product.get_price|intcomma }} ₽</h5>
                    </div>
    				<div class="mb-3">
	    				<a class="btn btn-primary" href="#">Купить</a>
		    		</div>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <div>
            <h5 class="m-5">Нет товаров в данной категории.</h5>
        </div>

    {% endif %}

{% endblock %}
