{% extends 'base.html' %}

{% block content %}

    {% include 'catalog/includes/breadcrumb.html' %}

    <div>
        <h2 class="m-3">{{category|capfirst}}</h2>
    </div>

	{% for product in category.products %}

		<div class="p-3 bg-white border border-gray row">
			<div class="col-sm-12 col-md-3">
				<img class="rounded float-left" alt="150x150" src="{{ product.image }}" data-holder-rendered="true" style="width: 150px; height: 150px;">
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="">
					<a class="" href="{{ product.get_absolute_url }}}"><h5>{{ product }}</h5></a>
				</div>
				<div class="">
					<span class="badge badge-success">4.5</span><span class="ml-2 text-muted">количество отзывов: {{ product.comments|length }}</span>
				</div>
				<div class="">

					{% for key, value in product.characteristics.items %}
						<div class="">{{ key|capfirst }}: {{ value }}</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-12 col-md-3">
				<a class="text-dark" href="#"><h5>от {{ product.price|floatformat:0 }} ₽</h5></a>
			</div>
			</div>
		</div>

	{% endfor %}
{% endblock %}
