{% extends 'base.html' %}

{% block content %}

    {% include 'catalog/includes/breadcrumb.html' %}

    <div>
		<h2 class="m-3">Ноутбук Apple MacBook Pro 13 with Retina display Mid 2017</h2>
	</div>

	<div class="pl-3 pb-2">
		<span class="badge badge-success">4.5</span><span class="ml-2 text-muted">количество отзывов: 0</span>
	</div>

	<div class="p-3 pb-5 bg-white row">
		<div class="col-sm-12 col-md-5">
			<div class="d-flex justify-content-center align-items-center">
				<img class="rounded float-left" alt="320x320" src="https://avatars.mds.yandex.net/get-mpic/195452/img_id561887665197370405/6hq" data-holder-rendered="true" style="width: 320px; height: 320px;">
			</div>
		</div>
		<div class="col-sm-8 col-md-4 mb-2">
			<div class="mb-2"><strong>Характеристики:</strong></div>
			<div class="">Процессор: Core i5</div>
			<div class="">Частота процессора: 2300 МГц</div>
			<div class="">Объем оперативной памяти: 8 ГБ</div>
			<div class="">Объем жесткого диска: 128...256 ГБ</div>
			<div class="">Диагональ экрана: 13.3 "</div>
		</div>
		<div class="col-sm-4 col-md-3 mt-2">
			<div class="container-fluid p-3 rounded shadow-sm">
				<div class="mb-3">
						<a class="text-dark" href="#"><h5>79 820 ₽</h5></a>
					</div>
				<div class="d-flex justify-content-start align-items-center mb-3">
					<a class="btn btn-primary" href="#">Купить</a>
				</div>
			</div>
		</div>
    </div>
	<div class="p-3 bg-white">
		<div class="border-bottom border-gray row">
			<h4>Отзывы:</h4>
		</div>
		<div class="row pt-4">
			<div class="pb-1">
				<h6>Алексей Семенов</h6>
			</div>
			<div class="pb-1">
				В целом, замечательный девайс, но учитывая, что проблема с wifi известна давно (есть исследование intel 2012 года "USB 3.0* Radio Frequency Interference on 2.4 GHz Devices"),
				а они продолжают располагать антенну близко к порта usb и тот факт, что нарвался на брак - ставлю среднюю оценку. Для такой компании это непростительно, я считаю.
			</div>
			<div class="text-muted">
				25 июля 2017
			</div>
		</div>
		<div class="row pt-4">
			<div class="pb-1">
				<h6>Антон Антонов</h6>
			</div>
			<div class="pb-1">
				Долго выбирал ноутбук (был на примете еще del xps 13) для работы (программирование). Выбрал - не пожалел. Очень удобная операционная система. Красивый ui + возможности unix систем.
				Клавиатура и трекпад вместе с шорткатами\жестами, значительно облегчают работу. Удобно работать и без мышки. Звук превосходный. Экран тоже.
				Легкий - можно кинуть в рюкзак. Для длительного путешествия зарядка будет добавлять лишний вес (около 200г). Заряжается часа за полтора, что очень-очень круто.
			</div>
			<div class="text-muted">
				29 июля 2017
			</div>
		</div>
		<div class="row pt-4">
			<div class="pb-1">
				<h6>Александр Степанов</h6>
			</div>
			<div class="pb-1">
				2 порта type-c выглядит, конечно, как издевательство. Когда ноут на зарядке, остается всего один порт, чего зачастую нехватает. Отсутствие hdmi, тоже напрягает.
				Пришлось купить хаб, что нихрена не добавляет мобильности и удобства. Батарею, по сравнению с прошкой 2015, урезали, время работы от батареи заметно уменьшилось.
				Клава по приятнее. Радует меньший вес, но при этом на не самых тяжелых приложениях (аля webstorm) ноут начинает заметно шуметь. В общем, цена неадекватная...
				Если уж и брать, то раннии прошки.
			</div>
			<div class="text-muted">
				25 августа 2017
			</div>
		</div>
	</div>

{% endblock %}

